[Unit]
Description=Daily System Reboot
DefaultDependencies=no
Conflicts=shutdown.target
After=chigemotsu_daily_summary.service
Wants=chigemotsu_daily_summary.service

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/systemctl reboot